<div class="modal-dialog" style="width: 100%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">New Appointment</h4>
    </div>
    <div class="row clearfix">
    <div class="col-md-6">
    <div class="modal-body" style="max-height: 350px;overflow: auto;">
      <h3 style="color: blue;margin-left: 177px;">PATIENT</h3>
    <%= form_with model: tonguestun, url: tonguestuns_path,method: "post",local: false, remote: true,class: "form-horizontal" do |form| %>
      <% if tonguestun.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(tonguestun.errors.count, "error") %> prohibited this tonguestun from being saved:</h2>

          <ul>
          <% tonguestun.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="actions col-sm-9">
         <div class="form-group">
            <%= label_tag('name', 'Name<span class="text-danger">*</span>'.html_safe, class: 'col-lg-3 control-label ') %>
            <div class="col-lg-9">
              <%= form.text_field :name, :placeholder => "Enter Name", id: :patient_name,:required => true, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag('mobile', 'Phone Number<span class="text-danger">*</span>'.html_safe, class: 'col-lg-3 control-label') %>
            <div class="col-lg-9">
              <%= form.text_field :mobile, :placeholder => "Enter Phone Number", id: :patient_number,:required => true, class: "form-control" %>
            </div>
          </div>
          <%= hidden_field_tag "form_id", "patient"%>
        <%= form.submit "Submit", class: "btn btn-sm btn-info", :style => "float:right;" %>
      </div>
    <% end %>
    </div>
  </div>
  <div class="col-lg-6">
    <h3 style="color: blue;margin-left: 177px;">DOCTOR</h3>
      <%= form_with model: tonguestun, url: tonguestuns_path,method: "post",local: false, remote: true,class: "form-horizontal" do |form| %>
      <% if tonguestun.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(tonguestun.errors.count, "error") %> prohibited this tonguestun from being saved:</h2>

          <ul>
          <% tonguestun.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="actions col-sm-9">
         <div class="form-group">
            <%= label_tag('name', 'Name<span class="text-danger">*</span>'.html_safe, class: 'col-lg-3 control-label') %>
            <div class="col-lg-9">
              <%= form.text_field :name, :placeholder => "Enter Name", id: :account_name,:required => true, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag('mobile', 'Mobile Number<span class="text-danger">*</span>'.html_safe, class: 'col-lg-3 control-label') %>
            <div class="col-lg-9">
              <%= form.text_field :mobile, :placeholder => "Enter Mobile Number", id: :doctor_number,:required => true, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag('specification', 'Specialization<span class="text-danger">*</span>'.html_safe, class: 'col-lg-3 control-label') %>
            <div class="col-lg-9">
              <%= form.text_field :specification, :placeholder => "Enter Specialization", id: :doctor_specification,:required => true, class: "form-control" %>
            </div>
          </div>
          <%= hidden_field_tag "form_id", "doctor"%>
        <%= form.submit "Submit", class: "btn btn-sm btn-info",:style => "float:right;" %>
      </div>
    <% end %>
    </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-6">
          <h3 style="color: blue;margin-left: 177px;">APPOINTMENT</h3>
        <%= form_with model: tonguestun, url: tonguestuns_path,method: "post",local: false, remote: true,class: "form-horizontal" do |form| %>
      <% if tonguestun.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(tonguestun.errors.count, "error") %> prohibited this tonguestun from being saved:</h2>

          <ul>
          <% tonguestun.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="actions col-sm-9">
        <div class="form-group">
        <%= form.label :doctor_id, 'Doctor<span class="text-danger">*</span>'.html_safe, class: "col-lg-3 control-label" %>
        <div class="col-lg-9">
          <%= form.select :doctor_id, @doctors, {:prompt => "--Select Doctor--"}, {id: :app_doctor_id,:required => true, class: "form-control",:required => true} %>
        </div>
       </div>
         <div class="form-group">
        <%= form.label :patient_id, 'Patient<span class="text-danger">*</span>'.html_safe, class: "col-lg-3 control-label" %>
        <div class="col-lg-9">
          <%= form.select :patient_id, @patients, {:prompt => "--Select Patient--"}, {id: :app_patient_id,:required => true, class: "form-control",:required => true} %>
        </div>
       </div>
        <div class="form-group">
            <%= label_tag('diseases', 'Diseases<span class="text-danger">*</span>'.html_safe, class: 'col-lg-3 control-label') %>
            <div class="col-lg-9">
              <%= form.text_field :diseases, :placeholder => "Enter Diseases", id: :app_dieseases,:required => true, class: "form-control" %>
            </div>
          </div>
          <%= hidden_field_tag "form_id", "appointment"%>
        <%= form.submit "Submit", class: "btn btn-sm btn-info",:style => "float:right;" %>
      </div>
    <% end %>
    </div>
      <div class="col-md-6">
       <h3 style="color: blue;margin-left: 177px;">APPOINTMENT</h3>
        <%= render "appointment_list"%>
      </div>
    </div>
  </div>
</div>
